{% extends 'web/base.html' %}
{% load staticfiles %}

<!-- Override the title of the page. -->
{% block title_block %}
	Sign-up!
{% endblock %}

{% block content_block %}
	<div class="container mx-auto my-auto" style="background-color: green">
		<div class="row">
			<div class="col-lg-10 col-xl-9 mx-auto my-auto">
				<div class="card card-signin flex-row my-5">
					<div class="card-img-left d-none d-md-flex">
						<!-- Background image for card set in CSS! -->
					</div>
					<div class="card-body">
						<h5 class="card-title text-center">Register</h5>
						<form class="form-signin">
							<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
							<a class="d-block text-center mt-2 small" href="#">Sign In</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
